# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
    release:
        types: [published]

jobs:
    publish-npm:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            id-token: write
            attestations: write
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
                  registry-url: "https://registry.npmjs.org"
            - run: npm ci
            - run: npm pack
            - name: Attest package
              uses: actions/attest-build-provenance@v1
              with:
                  subject-path: "*.tgz"
            - run: npm publish --provenance
              env:
                  NODE_AUTH_TOKEN: ${{secrets.npm_token}}
            - name: Upload package to release
              run: gh release upload ${{ github.event.release.tag_name }} *.tgz
              env:
                  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    publish-github-packages:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            id-token: write
            packages: write
            attestations: write
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
                  always-auth: true
                  registry-url: "https://npm.pkg.github.com"
            - run: npm ci
            - run: npm pack
            - name: Attest package
              uses: actions/attest-build-provenance@v1
              with:
                  subject-path: "*.tgz"
            - run: |
                  npm pkg set name="@imkylecat/codemirror-mode-zig"
                  npm publish --provenance --access public --registry https://npm.pkg.github.com
              env:
                  NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
